.mapmeter-container form {
  margin: 2em 0;
}

.mapmeter-container input[type=text],
.mapmeter-container input[type=password] {
  width: 350px;
}

.mapmeter-container .invalid-credentials {
  color: red;
  font-weight: bold;
}

#mapmeter-data-container {
  clear: both;
}

#mapmeter-chart-container,
#mapmeter-teaser-container,
#mapmeter-msg-container,
#mapmeter-msg-container .error {
  display: none;
}

#mapmeter-chart {
  width: 600px;
  height: 150px;
  clear: both;
  margin: 2em 0;
}

#mapmeter-chart path.line {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
}
#mapmeter-chart path.area {
  fill: #e7e7e7;
}
#mapmeter-chart .axis {
  shape-rendering: crispEdges;
}
#mapmeter-chart .x.axis line {
  stroke: #fff;
}
#mapmeter-chart .x.axis .minor {
  stroke-opacity: .5;
}
#mapmeter-chart .x.axis path {
  stroke: #999;
  fill: none;
}
#mapmeter-chart .x.axis text,
#mapmeter-chart .y.axis text {
  font-size: 11px;
  font-family: 'proxima-nova', Arial, Helvetica, sans-serif;
  font-weight: 300;
}
#mapmeter-chart .x.axis text {
  fill: #888;
}
#mapmeter-chart .y.axis text {
  fill: #555;
}
#mapmeter-chart .y.axis line,
#mapmeter-chart .y.axis path {
  fill: none;
  stroke: #666;
}

#mapmeter-teaser-container {
  margin: 100px 0 0 100px;
  border: 3px solid #CCC;
  width: 600px;
  height: 70px;
}

#mapmeter-teaser-container .mapmeter-link {
  float: left;
  width: 150px;
  padding: 0.75em;
  background-color: #00A78D;
  color: #FFF;
  margin: 1em 1em;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

a.mapmeter-link:hover {
  text-decoration: none;
}

#mapmeter-teaser-container p {
  float: left;
  width: 370px;
  margin: 0.5em 1em;
}
