<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:task="http://www.springframework.org/schema/task"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-3.0.xsd"
    default-autowire="byName">


    <bean id="gs-cloudwatch-mde" class="com.boundlessgeo.suite.geoserver.cloudwatch.aws.MetricDatumEncoder">
        <property name="autoScalingGroupName" value="#{ systemEnvironment['GS_CW_AUTOSCALING_GROUP_NAME'] ?: ''}"/>
        <property name="instanceId" value="#{ systemEnvironment['GS_CW_INSTANCE_ID'] ?: ''}"/>
        <property name="enablePerInstanceMetrics" value="#{ systemEnvironment['GS_CW_ENABLE_PER_INSTANCE_METRICS'] ?: false}"/>
    </bean>

    <bean id="gs-cloudwatch-cs" class="com.boundlessgeo.suite.geoserver.cloudwatch.aws.CloudwatchSender">
        <property name="providers">
            <list>
                <ref bean="gs-cloudwatch-jmx"/>
                <ref bean="gs-cloudwatch-mmp"/>
<!--
                <ref bean="gs-cloudwatch-callbacks"/>
-->

                <ref bean="wmsServiceInterceptor-instrument" />
                <ref bean="cswServiceInterceptor-instrument" />
                <ref bean="wpsServiceInterceptor-instrument" />
                <ref bean="wcs20ServiceInterceptor-instrument" />
                <ref bean="wfsServiceInterceptor-instrument" />
                <ref bean="wcs100ServiceInterceptor-instrument" />
                <ref bean="wcs111ServiceInterceptor-instrument" />
            </list>
        </property>
    </bean>


    <!-- metric providers -->

    <bean id="gs-cloudwatch-jmx" class="com.boundlessgeo.suite.geoserver.cloudwatch.metrics.JmxSystemMonitor">
        <property name="encoder" ref="gs-cloudwatch-mde"/>
        <property name="enabled" value="#{ systemEnvironment['GS_CW_JMX'] ?: false}"/>
    </bean>
    <bean id="gs-cloudwatch-mmp" class="com.boundlessgeo.suite.geoserver.cloudwatch.metrics.MonitorMetricProvider">
        <property name="encoder" ref="gs-cloudwatch-mde"/>
        <property name="enabled" value="#{ systemEnvironment['GS_CW_MMP'] ?: false}"/>
    </bean>

    <!-- instruments -->

        <!-- this id should cause this bean to be injected as a proxy aroudn the WMS
        due to the wildcard convention in the WNS application context -->

    <bean init-method="afterPropertiesSet" id="wmsServiceInterceptor-instrument" class="com.boundlessgeo.suite.geoserver.intruments.OWSServiceInstrument" >
        <property name="metricRegistry" ref="gs-cloudwatch-metricRegistry"/>
        <property name="encoder" ref="gs-cloudwatch-mde"/>
        <property name="serviceName" value="wms"/>
        <property name="enabled" value="#{ systemEnvironment['GS_CW_WATCH_WMS'] ?: false}"/>
    </bean>
    <bean init-method="afterPropertiesSet" id="wfsServiceInterceptor-instrument" class="com.boundlessgeo.suite.geoserver.intruments.OWSServiceInstrument">
        <property name="metricRegistry" ref="gs-cloudwatch-metricRegistry"/>
        <property name="encoder" ref="gs-cloudwatch-mde"/>
        <property name="serviceName" value="wfs"/>
        <property name="enabled" value="#{ systemEnvironment['GS_CW_WATCH_WFS'] ?: false}"/>
    </bean>
    <bean init-method="afterPropertiesSet" id="wcs100ServiceInterceptor-instrument" class="com.boundlessgeo.suite.geoserver.intruments.OWSServiceInstrument">
        <property name="metricRegistry" ref="gs-cloudwatch-metricRegistry"/>
        <property name="encoder" ref="gs-cloudwatch-mde"/>
        <property name="serviceName" value="wcs100"/>
        <property name="enabled" value="#{ systemEnvironment['GS_CW_WATCH_WCS100'] ?: false}"/>
    </bean>
    <bean init-method="afterPropertiesSet" id="wcs111ServiceInterceptor-instrument" class="com.boundlessgeo.suite.geoserver.intruments.OWSServiceInstrument">
        <property name="metricRegistry" ref="gs-cloudwatch-metricRegistry"/>
        <property name="encoder" ref="gs-cloudwatch-mde"/>
        <property name="serviceName" value="wcs111"/>
        <property name="enabled" value="#{ systemEnvironment['GS_CW_WATCH_WCS111'] ?: false}"/>
    </bean>
    <bean init-method="afterPropertiesSet" id="wcs20ServiceInterceptor-instrument" class="com.boundlessgeo.suite.geoserver.intruments.OWSServiceInstrument">
        <property name="metricRegistry" ref="gs-cloudwatch-metricRegistry"/>
        <property name="encoder" ref="gs-cloudwatch-mde"/>
        <property name="serviceName" value="wcs20"/>
        <property name="enabled" value="#{ systemEnvironment['GS_CW_WATCH_WCS20'] ?: false}"/>
    </bean>
    <bean init-method="afterPropertiesSet" id="wpsServiceInterceptor-instrument" class="com.boundlessgeo.suite.geoserver.intruments.OWSServiceInstrument">
        <property name="metricRegistry" ref="gs-cloudwatch-metricRegistry"/>
        <property name="encoder" ref="gs-cloudwatch-mde"/>
        <property name="serviceName" value="wps"/>
        <property name="enabled" value="#{ systemEnvironment['GS_CW_WATCH_WPS'] ?: false}"/>
    </bean>
    <bean init-method="afterPropertiesSet" id="cswServiceInterceptor-instrument" class="com.boundlessgeo.suite.geoserver.intruments.OWSServiceInstrument">
        <property name="metricRegistry" ref="gs-cloudwatch-metricRegistry"/>
        <property name="encoder" ref="gs-cloudwatch-mde"/>
        <property name="serviceName" value="csw"/>
        <property name="enabled" value="#{ systemEnvironment['GS_CW_WATCH_CSW'] ?: false}"/>
    </bean>

    <!-- Callbacks Stuff Here -->
<!--
    <bean id="gs-cloudwatch-callbacks" class="com.boundlessgeo.suite.geoserver.cloudwatch.callbacks.OWSServiceDispatcherCallbacks" init-method="init">
        <property name="encoder" ref="gs-cloudwatch-mde"/>
        <property name="metricRegistry" ref="gs-cloudwatch-metricRegistry"/>
        <property name="enabled" value="false"/>
        <property name="allowedMetrics">
            <list>
                <value>#{ {systemEnvironment['GS_CW_WATCH_WPS'] ?: false} ? 'wps' : ''}</value>
                <value>#{ {systemEnvironment['GS_CW_WATCH_WMS'] ?: false} ? 'wms' : ''}</value>
                <value>#{ {systemEnvironment['GS_CW_WATCH_WFS'] ?: false} ? 'wfs' : ''}</value>
                <value>#{ {systemEnvironment['GS_CW_WATCH_WCS111'] ?: false} ? 'wcs111' : ''}</value>
                <value>#{ {systemEnvironment['GS_CW_WATCH_WCS100'] ?: false} ? 'wcs100' : ''}</value>
                <value>#{ {systemEnvironment['GS_CW_WATCH_WCS20'] ?: false} ? 'wcs20' : ''}</value>
                <value>#{ {systemEnvironment['GS_CW_WATCH_CSW'] ?: false} ? 'csw' : ''}</value>
                <value>#{ {systemEnvironment['GS_CW_WATCH_OWS'] ?: false} ? 'ows' : ''}</value>
            </list>
        </property>
    </bean>
-->

    <!-- Metrics stuff below here -->

    <bean id="gs-cloudwatch-metricRegistry" class="com.codahale.metrics.MetricRegistry"/>


    <!-- spring timing stuff below here  (need to make interval a config-->

    <task:executor id="executor" pool-size="5"/>
    <task:scheduler id="scheduler" pool-size="5"/>

    <task:scheduled-tasks>
        <task:scheduled ref="gs-cloudwatch-cs" method="sendAllMetrics" fixed-delay="#{systemEnvironment['GS_CW_INTERVAL'] ?: 10000}" />
    </task:scheduled-tasks>
</beans>
